body{
    margin: 0;
    padding: 0;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: lightseagreen;
}


h1 {
    text-align: center;
    color: darkslategray;
}

#container1 {
    width: 30%;
    background-color: white;
    padding: 30px;
    margin: 30px auto;
}
#form {
    display: flex;
}

ul {
    padding: 0%;
    margin: 0%;
}

.li-container{
    background-color: white;
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}
.tareasList {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

#tarea {
    padding: 15px 10px;
    width: 100%;
    outline: none;
}

#box {
    padding: 0%;
}
#cardBody {
    padding: 0%;
    margin: 0%;
}
.btn-add {
    padding: 5px 15px;
    color: white;
    background-color: teal;
    font-family: fantasy;
    border: none;
    font-size: 1.4rem;
    outline: none;
    border-radius: 0px 10px 10px 0;
}

.btn-add:hover {
    cursor: pointer;
    background-color: lightseagreen;
}

.empty {
    color: darkslategray;
}

#section1{
    padding: 0%;
    margin-left: 7%;
}
li {
    list-style: none;
    border-radius: 10px;
    background-color: rgba(132, 125, 125, 0.314);
    margin-top: 15px;
    /*display: flex;*/
    color: whitesmoke
}

p {
    margin: 0;
    padding: 15px;
    width: 100%;
    
    
}

h4 {
    color: white;
    background-color: rgba(132, 125, 125, 0.314);
    height: 100%;
    width: 100%;
}

.btn-delete {
    margin-left: auto;
    color:white;
    background-color: red;
    
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 5px 15px;
    border-radius: 0px 0px 2px 0px;

}

.btn-delete:hover {
    cursor: pointer;
    background-color: aquamarine;
}

@media screen and (max-width: 480px) {
    .container{
        width: 80%;
        
        margin-left: auto;
        margin-right: auto;
    }
}